<article class="post box post-size-limit">
    <div class="post-header">
        <h2 class="title"><%= post.title %></h2>

        <% if user_signed_in? %>
            <small class="author-field">
                By <strong class="author"><%= post.user.name %></strong>
            </small>
        <% end %>
    </div>
    
    <div class="body">
        <%#= simple_format(post.body) %>
        <p><%= post.body %></p>
    
        <div class="panel hidden"></div>
    </div>

    <div class="buttons-container">
        <% if current_user == post.user %>
            <div class="main-buttons">
                <%= link_to(post_path(post), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this post?" }) do %>
                    <i class="fa-solid fa-trash-can link"></i>
                <% end %>
            </div>
        <% end %>

        <div>
            <span class="link show-more-btn hidden">Show more...</span>
        </div>
    </div>

</article>