<article class="post box welcome-msg">
    <div class="post-header">
        <h2 class="title">Welcome to Members Only!</h2>
    </div>
    
    <div class="body">
        <%#= simple_format(post.body) %>
        <p>You can see everyone's posts, but if you want to see who the author is you have to log in.
            Have fun!</p>
    </div>
</article>