<main class="main-container">
    <section class="feed">
        <% if user_signed_in? %>
            <%= render "form" %>
        <% else %>
            <%= render "welcome" %>
        <% end %>

        <%= render @posts %>
    </section>
</main>
